# See: https://google.github.io/styleguide/cppguide.html
---
BasedOnStyle: Google
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false